button {
  @extend %uppercase;
  @include fixed-width(181px);
  border: none;
  color: $btn-default-color;
  font-size: $btn-font-size;
  height: 41px;

  &.default {
    background: $primary-btn-color;
    font-weight: 500;
  }

  &.large {
    @include fixed-width(349px);
  }

  &.resizable {
    @include fixed-width(100%);
  }
}
