$sort-select-width: 207px;
$sort-select-height: 39px;

.form {
  @extend %clearfix;

  .sort-select {
    @include set-size($sort-select-width, $sort-select-height);
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../images/sort-arrows.png') no-repeat calc(100% - 15px) 50% rgba(0, 0, 0, 0.1);
    border: none;
    color: #999999;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    height: $sort-select-height;
    padding-left: 19px;
    cursor: pointer;
  }

  .sort-divider {
    @include float-element(right, $sort-select-width);
    position: relative;
    top: 6px;

    &::after {
      color: #f6f4f4;
      content: "|";
      height: $sort-select-height;
      font-size: 37px;
      overflow-x: hidden;
      width: 3px;
      pointer-events: none;
      position: absolute;
      top: -3px;
      left: calc(100% - 44px);
    }
  }

  .form-select {
      @include set-size($sort-select-width, $sort-select-height);
      -moz-appearance: none;
      -webkit-appearance: none;
      color: #000;
      display: inline-block;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      height: $sort-select-height;
      padding-left: 19px;
      cursor: pointer;
      border-top: 1px solid $border-default-color;
      border-bottom: 1px solid $border-default-color;
      border-left: 2px solid #dbdbdb;
      border-right: 2px solid #dbdbdb;
      font-family: $primary-font-family;
  }
}
