.glyph {
  display: inline-block;
  margin: 0 18px;
}

.search-glyph {
  @include set-size(36px, 36px);
  background: url('../images/search-ico.png');
}

.star-glyph {
  @include set-size(60px, 59px);
  background: url('../images/star-ico.png');
}

.cart-glyph {
  @include set-size(33px, 38px);
  background: url('../images/cart-ico.png');
}

.categories-glyph {
  @include set-size(64px, 57px);
  background: url('../images/categories-ico.png');
}

.phonebook-glyph {
  @include set-size(96px, 76px);
  background: url('../images/phonebook-ico.png');
}

.truck-glyph {
  @include set-size(79px, 55px);
  background: url('../images/truck-ico.png');
}

.cash-glyph, .cash-glyph-small {
  @include set-size(71px, 64px);
  background: url('../images/cash-ico.png');
}

.cash-glyph-small {
  @include set-size(56px, 48px);
  background-size: 56px 48px;
}

.food-glyph {
  @include set-size(57px, 36px);
  background: url('../images/food-ico.jpg');
}

.man-glyph {
  @include set-size(34px, 37px);
  background: url('../images/man-ico.jpg');
}

.medal-glyph {
  @include set-size(34px, 50px);
  background: url('../images/medal-ico.jpg');
}
