$start-item-vert-border-color: #bbbaba;
$start-item-left-border-color: #d7d6d6;
$start-item-right-border-color: #cbcaca;

.start-item {
  @extend %center-elements;
  @include float-element(left, 306px);
  border-left: 1px solid $start-item-left-border-color;
  border-right: 1px solid $start-item-right-border-color;
  border: 1px solid $start-item-vert-border-color;
  padding: 60px;

  p {
    margin-bottom: 49px;
    font-weight: 500;
  }

  img {
    margin-bottom: 54px;
  }

}
