.header-menu {
  @include float-element(right, 145px);
  list-style: none;
  padding: 0 0 20px;

  li {
    @extend %inline-block;
  }

}

$dashboard-menu-item-color: #bbbaba;
$dashboard-item-title-color: #0262bb;


.dashboard-menu {
  @extend %center-elements;
  display: flex;
  justify-content: space-evenly;

  .product-item {
    @include fixed-width(277px);
    background: #FFF;
    border: 1px solid $dashboard-menu-item-color;
    min-height: 207px;
    padding: 15px;

    i {
      margin-top: 37px;
    }
  }

  .name {
    border-bottom: 1px solid $dashboard-menu-item-color;
    color: $dashboard-item-title-color;
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 12px;
  }

  .menu-item {
    border: 1px solid $dashboard-menu-item-color;
    @include set-size(278px, 208px);

    .title {
      @include fixed-width(90%);
      @extend %center;
      border-bottom: 1px solid $dashboard-menu-item-color;
      padding-bottom: 12px;
      margin-bottom: 42px;
      color: $dashboard-title-color;
    }
  }

  .earnings-item {
    @extend %clearfix;
    @include set-size(275px, 428px);
    @include fixed-width(90%);

    .title {
      margin-bottom: 13px;
    }

    .h2 {
      margin: 10px auto 5px;
    }

    .h4 {
      margin: 0;
    }

    .food-gas, .employee {
      @include fixed-width(118px);
    }

    .expenses, .total-earnings {
      @extend %clearfix;
      @extend %center;
      @include fixed-width(90%);
      border-top: 1px solid $dashboard-menu-item-color;
      margin-top: 20px;
      padding-top: 17px;

      .h2 {
        margin-top: 0;
        margin-bottom: 0;
      }

      .loss {
        margin-top: 5px;
      }
    }
  }

  .business-name {
    @extend %clearfix;
    @extend %center;
    @include fixed-width(90%);
    border-bottom: 1px solid $dashboard-menu-item-color;
    padding-bottom: 14px;

    &:last-of-type {
      border-bottom: none;
    }

    .h4 {
      margin: 0;
    }

    .name {
        border: none;
        color: #000;
        margin-bottom: 15px;
        margin-top: 15px;
        padding-bottom: 0;
    }

    .profit {
      margin: 0;
    }
  }

  .top-item-container {
    @extend %clearfix;
    @extend %center;
    @include fixed-width(90%);
    border-bottom: 1px solid $dashboard-menu-item-color;
    padding-bottom: 12px;
    margin-bottom: 11px;

    &:last-of-type {
      border-bottom: none;
    }

    img {
      margin-right: 15px;
    }
    
    .h3 {
      margin: 0;
      text-align: left;
    }
  }
}
