// Variables
// --------------------------------------------------


// Typography
// --------------------------------------------------
$font-size-base: 14px;
$primary-font-family: 'Archivo Narrow', sans-serif;
$secondary-font-family: 'Helvetica Nueue', Helvetica, sans-serif;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 16px;


// Brand
// --------------------------------------------------
$logo-primary-color: #FFFFFF;
$logo-secondary-color: #ED1C24;
$profit-color: #1f6902;
$loss-color: #ff0101;

// Buttons
// --------------------------------------------------
$btn-font-size: 18px;
$btn-default-color: #FFF;


// Forms
// --------------------------------------------------



// Overlay
// --------------------------------------------------


// Border colors
// --------------------------------------------------
$border-default-color: #d6d5d5;

// Core colors
// --------------------------------------------------
$primary-btn-color: #005fc9;
$dashboard-title-color: #0262bb;

// Tables
// --------------------------------------------------
