// Variables
// --------------------------------------------------


// Typography
// --------------------------------------------------
$font-size-base: 14px;
$primary-font-family: 'Archivo Narrow', sans-serif;
$h3-size: 18px;


// Brand
// --------------------------------------------------
$logo-primary-color: #FFFFFF;
$logo-secondary-color: #ED1C24;


// Buttons
// --------------------------------------------------
$btn-font-size: 18px;
$btn-default-color: #FFF;


// Forms
// --------------------------------------------------



// Overlay
// --------------------------------------------------



// Core colors
// --------------------------------------------------
$primary-btn-color: #005fc9;


// Tables
// --------------------------------------------------
